Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)

In [6]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
elements = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(elements)

In [8]:
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [9]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age':[25,30,27], 'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

In [10]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
'''
In Pandas, a DataFrame is a two-dimensional labeled data structure, where each column can 
have a different data type. It is similar to a spreadsheet or a SQL table, where the rows 
represent observations or samples, and the columns represent variables or features. A 
DataFrame can be thought of as a collection of Pandas Series, where each column is a Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data 
of any type. It is similar to a single column of a DataFrame or a Python list, but with 
additional functionality and attributes.

Here's an example to illustrate the difference between a Pandas DataFrame and a Pandas 
Series:
'''    
import pandas as pd

#Pandas Series
s = pd.Series([10, 20, 30, 40, 50], name='MySeries')

#Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

s

0    10
1    20
2    30
3    40
4    50
Name: MySeries, dtype: int64

In [13]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Here are some common functions and methods that are frequently used:

head() and tail(): Returns the first or last n rows of a DataFrame, respectively. These 
                   functions are often used to quickly inspect the structure of a DataFrame 
                   or to get a glimpse of the data.
            
describe(): Provides descriptive statistics for all numerical columns in a DataFrame, such 
            as count, mean, standard deviation, minimum, and maximum. This function is 
            useful for getting a general idea of the data distribution and identifying 
            potential outliers.
            
sort_values(): Sorts a DataFrame by one or more columns in ascending or descending order. 
               This function is useful for ranking, ordering, or finding the top/bottom 
               values in a DataFrame.
            
groupby(): Groups a DataFrame by one or more columns and applies a function (such as sum(), 
           mean(), count(), etc.) to each group. This function is useful for aggregating 
           data by categories or levels.
        
pivot_table(): Creates a pivot table based on a DataFrame, which allows you to summarize 
               and cross-tabulate data by one or more columns. This function is useful for 
               visualizing complex relationships or trends in a dataset.
            
apply(): Applies a function to each element or column of a DataFrame, and returns a new 
         DataFrame. This function is useful for transforming or manipulating data based on 
         custom logic
            
fillna(): Fills missing values (NaN) in a DataFrame with a specified value or method (such 
          as ffill or bfill). This function is useful for handling missing data in a dataset.

merge(): Combines two or more DataFrames based on a common column or index. This function is
         useful for joining data from multiple sources or tables.

plot(): Creates a visualization of data in a DataFrame using various types of charts, such 
        as line, bar, scatter, and histogram. This function is useful for exploring patterns
        or relationships in a dataset.
        
Here's an example of these functions:

Suppose you have a DataFrame containing sales data for a retail store with columns 'Date',
'Product', 'Quantity', and 'Price'. You want to calculate the total sales revenue for each 
product by month, and visualize the results using a bar chart. Here's how you can use the 
groupby() and plot() functions to achieve this:

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Gina', 'Hannah', 'Ivan'],
        'Age': [21, 25, 30, 35, 40, 45, 50, 55, 60],
        'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M'],
        'Salary': [45000, 55000, 70000, 85000, 100000, 120000, 140000, 160000, 180000]}

df = pd.DataFrame(data)
head = df.head()
tail = df.tail()
describe = df.describe()
sort_values = df.sort_values('Salary')
group_by = df.groupby('Gender')
g_by_mean = group_by.mean()
pivot = df.pivot_table(values='Salary', index='Gender', columns='Age', aggfunc='mean')

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
'''
Both Series and DataFrame are mutable in nature, meaning you can modify their values, add 
new rows or columns, and delete existing rows or columns.

On the other hand, Panel is not mutable, and it is recommended to use MultiIndex or xarray 
instead of Panel for three-dimensional data.
'''

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
fruits = pd.Series(['Apple', 'Banana', 'Cherry', 'Orange'])
quantaties = pd.Series([20, 24, 100, 36])

df = pd.DataFrame({"Fruits" :fruits, "Quantity":quantaties})
df

   Fruits  Quantity
0   Apple        20
1  Banana        24
2  Cherry       100
3  Orange        36